---
http_interactions:
- request:
    method: get
    uri: https://s3-us-west-2.amazonaws.com/rubygems-dumps/
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>rubygems-dumps</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>production/public_postgresql/2019.10.12.13.10.08/public_postgresql.tar</Key><LastModified>2019-10-12T13:11:00.000Z</LastModified><ETag>&quot;2e5b9d292cc0c2f57629e5dfcd9d09f9-54&quot;</ETag><Size>278662144</Size><StorageClass>GLACIER</StorageClass></Contents><Contents><Key>production/public_postgresql/2019.10.13.13.10.02/public_postgresql.tar</Key><LastModified>2019-10-13T13:10:54.000Z</LastModified><ETag>&quot;6dd8bcf5073100183b934835140c5522-54&quot;</ETag><Size>278785536</Size><StorageClass>GLACIER</StorageClass></Contents><Contents><Key>production/public_postgresql/2019.10.14.13.10.03/public_postgresql.tar</Key><LastModified>2019-10-14T13:10:55.000Z</LastModified><ETag>&quot;0a7cf7c9955a90ed64f9dc247e3dc61c-54&qu[...]
